<% include partials/header %>

<% campgrounds.forEach((campground) => { %>

    <h3><%= campground.name %></h3>
    <img src="<%= campground.image %>" alt="">

<% }); %>

<% include partials/footer %>