<% include partials/header %>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Welcome to YelpCamp!</h3>
            <p class="lead">The number one place for campgrounds.</p>
            <hr class="my-4">
            <p>Signup and start camping!</p>  <!-- TODO add signup button -->
            <a href="/campgrounds/new" class="btn btn-lg btn-outline-dark">Create campground</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h3 class="card-header text-center"><%= campground.name %></h3>
                    <img src="<%= campground.image %>" alt="<%= campground.name %>" class="card-img-top">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Voluptatem, maxime, dolorem veritatis labore
                        asperiores soluta tempora assumenda esse saepe
                        accusantium corrupti, nobis ad sequi doloremque fugiat
                        eveniet laboriosam impedit fugit?</p> 
                    </div>
                    <a href="#" class="btn btn-light">More info</a>
                </div>
             </div>
         <% }); %>
        </div>
    </div>

<% include partials/footer %>