<% include partials/header %>

<% campgrounds.forEach((campground) => { %>

    <h2><%= campground.name %></h2>
    <img src="<%= campground.image %>" alt="<%= campground.name %>">

<% }); %>

<% include partials/footer %>