<% include ../partials/header %>

<div class="container mb-4 marginTop">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/campgrounds" method="post">         
                <div class="modal-content z-depth-1-half">         
                    <div class="modal-header mdb-color lighten-2 white-text">
                        <h4 class="card-text">Create campground</h4>
                    </div>  
                    <div class="modal-body">
                        <div class="md-form form-sm">
                            <i class="fas fa-tag prefix"></i>
                            <input type="text" id="name" name="name" class="form-control form-control-sm">
                            <label for="name">Name</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-image prefix"></i>
                            <input type="text" id="image" name="image" class="form-control form-control-sm">
                            <label for="image">Image url</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <textarea rows="5" cols="10" type="text" name="description" id="description" class="md-textarea form-control"></textarea>
                            <label for="description">Description</label>
                        </div>
        
                        <div class="text-center mt-4 mb-2">
                            <a href="/campgrounds" class="btn mdb-color lighten-4 waves-effect "><i class="fa fa-chevron-left"></i> Back</a>
                            <button type="submit" class="btn mdb-color lighten-2 waves-effect ">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
        
<% include ../partials/footer %>